<!DOCTYPE html>
<html lang="de">
<!--Start html tag mit de als Sprache -->
<head>
<meta charset="UTF-8">
<meta name="description" content="<%= current_page.data.description %>" />
<title>U. Meyer <%= current_page.data.title %></title>
<meta name="revisit-after" content="14days" />
<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/img/dachsicon.jpg" />
<meta name="author" content="Ulrich Meyer" />
</head>
<body>
	<div id="wrapper" class="<%= color_helper %>">
		<header id="mainHeader">
			<h1>Gitarre und Musiklehre, U. Meyer</h1>
		</header>
		<nav id="mainNav" class="clearfix">
			<%= menu_helper 'breadcrumbs'%>
			<%= menu_helper 'menu'%>
			<div class="caption">
				<div class="clearfix">
					<div class="imageWrapper img23 floatedRight exBorder">
						<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
					</div>
					<%= yield_content :intro %>
				</div>
				<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
					<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
					value="511107"> <a href="http://www.crawl-it.de"> </a>
				</form>
			</div>
		</nav>
		<div class="series navContext">
			<div>
				<%= menu_helper 'linkPrevPage'%>
			</div>
			<div>
				<%= menu_helper 'linkNextPage'%>
			</div>
		</div>
		<main>
			<%= yield %>
		</main>
		<div class="series navContext">
			<div>
				<%= menu_helper 'linkPrevPage'%>
			</div>
			<div>
				<%= menu_helper 'linkNextPage'%>
			</div>
		</div>
		<footer id="mainFooter">
			<div>
				<a href="/index.html">Home</a> <a href="/gitarre/index.html">Gitarre</a> <a href="/musiklehre/index.html">Musiklehre</a> <a href="/blockfloete/index.html">Blockflöte</a>
				<a href="/meta/impressum.html">Impressum</a> <a href="/meta/sitemap.html">Sitemap</a> <a href="#">oben</a>
			</div>
			<p>Copyright &copy; Ulrich Meyer</p><a id="unten" class="nuranker"></a>
		</footer>
		<div id="miniMenuWrapper">
			<div id="miniMenu">	
				<%= minimenu_helper %>
				<a href="#"></a>
			</div>
		</div>
	</div>
</body>
</html>